#cis-app {
  grid-area: slider;
  justify-self: center;

}

#tjn-app {
  grid-area: cart;
  max-width: 300px;
}

#jjc-app {
  grid-area: others;
}

#reviews {
  grid-area: reviews;

}

#app {
  display: grid;
  grid-template-columns: minmax(60%) minmax(40%);
  grid-template-rows: 600px 1000px auto;
  grid-template-areas:
   "slider cart"
   "reviews cart"
   "others others";

}


